.notfound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f8f8f8;
    color: #333;
}

.notfound-header {
    font-size: 5rem;
    font-weight: bold;
    color: #070C70;
    margin: 0;
}

.notfound-text {
    font-size: 1.5rem;
    color: #5e5c5c;
    margin: 20px 0;
}

.home-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff1493;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.home-button:hover {
    background-color: #e01284;
}
